.navigation {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;

  border: 1px solid blueviolet;
  border-radius: 16px;

  padding: 15px 25px;

  font-size: 35px;
}
